body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}

main {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

@keyframes itemOpacity {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loader {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0% {
    color: yellow;
    text-shadow: 0 0 7px yellow;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: yellow;
    text-shadow: 0 0 7px yellow;
  }
}
.header {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 16px;
  position: relative;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.footer__logo {
  color: #fff;
  font-family: Shrikhand, "cursive";
  font-size: 19.2px;
  margin: 0 0 19px 15px;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__link {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
.footer__list__item {
  margin: 8px;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

#header__logo img {
  width: 200px;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2s;
  animation-fill-mode: both;
  z-index: 10000;
}

.lettre {
  color: #484848;
  font-size: 35px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.local {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
  background-color: #f3f3f3;
  font-size: 19.2px;
}
.local input {
  font-weight: 700;
  border: #f3f3f3;
  background-color: #f3f3f3;
  font-size: 20px;
  text-align: center;
}
.local__text {
  font-weight: 700;
}

.reservation {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}
.reservation__title {
  margin: 0;
}
.reservation__subtitle {
  font-weight: 300;
  margin: 24px 0;
}
.reservation__btn {
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17.6px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.reservation__btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.working {
  padding: 32px 16px;
}
.working__title {
  margin-top: 0;
}
.working__links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.working__link {
  padding: 24px;
  margin: 16px 0 16px 12px;
  box-shadow: 4px 0.25rem 4px rgba(0, 0, 0, 0.13);
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  align-items: baseline;
  counter-increment: compteListe 1;
}
.working__link:hover {
  background-color: #f2ecfe;
  cursor: pointer;
}
.working__link:before {
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}

.working__link i {
  margin-right: 10px;
  color: black;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 32px 16px;
}
.restaurants__card {
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  margin-bottom: 20px;
}
.restaurants__card__img {
  height: 200px !important;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 16px 16px 0 0;
  box-shadow: none;
  object-fit: cover;
}

.restaurant__card__badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 17px;
  right: 16px;
}

.card__footer {
  padding: 16px;
  display: flex;
  align-items: center;
  color: black;
  position: relative;
  justify-content: space-between;
}
.card__footer__content {
  flex: 1;
}
.card__footer__title {
  margin: 0 0 4px;
  text-decoration: none;
}
.card__footer__subtitle {
  margin: 0;
  list-style-type: none;
}
.card__footer__btn {
  height: 2rem;
  width: 2rem;
  background-color: initial;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #000;
}
.card__footer__btn__btn::before {
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.card__footer .card__like {
  position: relative;
  background-color: #f6f6f6;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.card__footer .card__like2 {
  position: absolute;
  right: 16px;
}

.heroImg {
  max-height: 512px;
  width: 100%;
  object-fit: cover;
}

.restaurantContainer img {
  width: 200px;
}

.restaurantContainer__arrow {
  position: absolute;
  left: 33px;
  height: 20px;
  width: 32px;
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19.2px;
  color: black;
}

.container--menu {
  margin-top: -64px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.container--menu__header {
  padding: 16px 32px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container--menu__title {
  font-family: "Shrikhand", "cursive";
}
.container--menu_btn {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}

.menu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px;
}
.menu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
  font-weight: normal;
}
.menu__title:after {
  display: block;
  content: "";
  border-bottom: 2px solid #99e2d0;
  width: 45px;
}

.menuItem {
  background-color: white;
  padding: 16px;
  display: flex;
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemOpacity 3s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  max-width: 100%;
}
.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.menuItem__accept {
  margin: -16px -80px -16px 16px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  background-color: #99e2d0;
}
.menuItem__accept__Icon {
  height: 25.6px;
  width: 25.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(-180deg);
  transition-duration: 0.5s;
  color: #99e2d0;
  padding: 5px;
  border-radius: 20px;
  transition: transform 500ms ease-in-out;
  animation: rotate 0.6s;
}
.menuItem__accept__Icon i {
  color: #99e2d0;
}
.menuItem__accept__validation {
  color: green;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}
.menuItem__accept__icon {
  transform: rotate(180deg);
  transition: transform 500ms;
}
.menuItem:hover .menuItem__accept {
  margin-right: -16px;
}
.menuItem:hover .menuItem__icon {
  transform: rotate(360deg);
  transition: transform 500ms;
}

.menuAnimation {
  animation-delay: 0.1s;
}

.menuAnimation-1 {
  animation-delay: 0.2s;
}

.menuAnimation-2 {
  animation-delay: 0.3s;
}

.menuAnimation-3 {
  animation-delay: 0.4s;
}

.menuAnimation-4 {
  animation-delay: 0.5s;
}

.menuAnimation-5 {
  animation-delay: 0.6s;
}

.menuAnimation-6 {
  animation-delay: 0.8s;
}

.menuAnimation-7 {
  animation-delay: 0.9s;
}

.menuAnimation-8 {
  animation-delay: 1s;
}

.Btn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 48px 0;
}

.commandBtn {
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17.6px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.commandBtn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.card__footer {
  padding: 16px;
  display: flex;
  align-items: center;
  color: black;
  position: relative;
}
.card__footer__content {
  flex: 1;
}
.card__footer__title {
  margin: 0 0 4px;
  text-decoration: none;
}
.card__footer__subtitle {
  margin: 0;
  list-style-type: none;
}
.card__footer__btn {
  color: black;
}

/*# sourceMappingURL=styles.css.map */
