body {
    margin: 0;
    font-family: Roboto,sans-serif;
    scroll-behavior: smooth;
}



.header {
    box-shadow: 0 0  8px rgb(0 0 0 / 25%);
    text-align: center;
    padding: 16px;

}

#header__logo img {
    width: 200px;
}

main {
    display: block;
}

.local {
    display: flex;
    justify-content: center;
    padding: 20px 16px;
    background-color: #f3f3f3;
    font-size: 19.2px;
    position: relative;
}

.local i {
    margin-right: 15px;
}

.local__text {
    font-weight: 700;
    }

.réservation {
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;
}

.réservation__title {
    margin: 0;
}

.réservation__subtitle {
    font-weight: 300;
    margin: 24px 0;
}

.réservation__btn {
    border: 0;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 17.6px;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    box-shadow: 4px 4px  10px rgb(0 0 0 / 25%);
}


.working {
    padding: 2rem 1rem;
}

.working__title {
    margin-top: 0;
}

.working__links {
    margin: 0;
    padding: 0;
    list-style: none;
   
}

.working__link {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
}

.restaurants {
    background-color: #f6f6f6;
    padding: 2rem 1rem;
}

.restaurant__card {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
}

.restaurants__card__img {
    height: 200px !important;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
}

