
#header__logo img {
    width: 200px;
}

.local {
    display: flex;
    justify-content: center;
    padding: 20px 16px;
    background-color: #f3f3f3;
    font-size: 19.2px;


      input {
        font-weight: 700;
        border: #f3f3f3;
        background-color: #f3f3f3;
        font-size: 20px;
        text-align: center;
      }

    &__text {
        font-weight: 700;
  
    }
}

.reservation {
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;

    &__title {
    margin: 0;
    }

    &__subtitle {
        font-weight: 300;
        margin: 24px 0;
    }

    &__btn {
        border: 0;
        padding: 12px 24px;
        font-weight: 500;
        font-size: 17.6px;
        border-radius: 100px;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
        cursor: pointer;
        box-shadow: 4px 4px  10px rgb(0 0 0 / 25%);
    }
    
}

.working {
    padding: 32px 16px;

    &__title {
        margin-top: 0;
    }

    &__links {
        margin: 0;
        padding: 0;
        list-style: none;
       
    }

    &__link {
        padding: 24px;
        margin: 16px 0 16px 12px;
        box-shadow: 4px 0.25rem 4px rgb(0 0 0 / 13%);
        border-radius: 20px;
        background-color: #f6f6f6;
        display: flex;
        position: relative;
        align-items: baseline;
    }

    &__link:before{
        counter-increment: compteListe 1;
        content: counter(compteListe) " ";
        background: #9356dc;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        left: -0.75rem;
        
    }
 
}

.working__link i {
    margin-right: 10px;
    color: black;
}

.restaurants {
    background-color: #f6f6f6;
    padding: 32px 16px;

    &__card {
        background-color: #fff;
        border-radius: 16px;
        position: relative;
        text-decoration: none;
        color: inherit;
        display: block;
        margin-bottom: 20px;
    }

    &__card__img {
        height: 200px !important;
        width: 100%;
        border: 0 solid transparent;
        border-radius: 16px 16px 0 0;
        box-shadow: none;
        object-fit: cover;
    }
    

}

.restaurant__card__badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    top: 17px;
    right: 16px;
}

.card__footer {
    padding: 16px;
    display: flex;
    align-items: center;
    color: black;
    position: relative;
    justify-content: space-between;

    &__content {
        flex: 1;
    }

    &__title {
        margin: 0 0 4px;
        text-decoration: none;
    }

    &__subtitle {
        margin: 0;
        list-style-type: none;
    }
    
    &__btn {
        color: black;
        
        
    }

    .card__btn i {
        margin-left: 200px;
    }
}

 








