
#header__logo img {
    width: 200px;
}

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(238, 217, 217, 0.89);
    animation: loader 0.01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display:flex;
    align-items:center;
    justify-content:center;

    &__item {
        height: 100px;
        width: 100px;
        background-color: green;
        animation: rotation 2s infinite linear;
    }
    }

.local {
    display: flex;
    justify-content: center;
    padding: 20px 16px;
    background-color: #f3f3f3;
    font-size: 19.2px;


      input {
        font-weight: 700;
        border: #f3f3f3;
        background-color: #f3f3f3;
        font-size: 20px;
        text-align: center;
      }

    &__text {
        font-weight: 700;
  
    }
}

.reservation {
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;

    &__title {
    margin: 0;
    }

    &__subtitle {
        font-weight: 300;
        margin: 24px 0;
    }

    &__btn {
        @include btnpink
    }

    &__btn:hover {
        background-color: white;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    }
    
}

.working {
    padding: 32px 16px;

    &__title {
        margin-top: 0;
    }

    &__links {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__link {
        padding: 24px;
        margin: 16px 0 16px 12px;
        box-shadow: 4px 0.25rem 4px rgb(0 0 0 / 13%);
        border-radius: 20px;
        background-color: #f6f6f6;
        display: flex;
        position: relative;
        align-items: baseline;
        counter-increment: compteListe 1;

        &:hover {
            background-color: #f2ecfe;
            cursor: pointer;
        }
    }

    &__link:before{
        content: counter(compteListe) " ";
        background: #9356dc;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        left: -0.75rem;
        
    }

}

.working__link i {
    margin-right: 10px;
    color: black;
}

.restaurants {
    background-color: #f6f6f6;
    padding: 32px 16px;

    &__card {
        background-color: #fff;
        border-radius: 16px;
        position: relative;
        text-decoration: none;
        color: inherit;
        display: block;
        margin-bottom: 20px;
    }

    &__card__img {
        height: 200px !important;
        width: 100%;
        border: 0 solid transparent;
        border-radius: 16px 16px 0 0;
        box-shadow: none;
        object-fit: cover;
    }
    

}

.restaurant__card__badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    top: 17px;
    right: 16px;
}

.card__footer {
    padding: 16px;
    display: flex;
    align-items: center;
    color: black;
    position: relative;
    justify-content: space-between;

    &__content {
        flex: 1;
    }

    &__title {
        margin: 0 0 4px;
        text-decoration: none;
    }

    &__subtitle {
        margin: 0;
        list-style-type: none;
    }
    
    &__btn {
        color: black;
        
        
    }
}

 








