.heroImg {
    max-height: 512px;
    width: 100%;
    object-fit: cover;
    }


.restaurantContainer img {
    width: 200px;
}

 .restaurantContainer__arrow
 {
    position: absolute;
    left: 33px;
    height: 20px;
    width: 32px;
    top: 22px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 19.2px;
    color: black;
 }



.container--menu{
    margin-top: -64px;
    border-radius: 32px 32px 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;

    &__header{
        padding: 16px 32px  0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-family: "Shrikhand", "cursive";
    }

    &_btn {
        height: 32px;
        width: 32px;
        background-color: transparent;
        border: transparent 0px solid;
        padding: 0;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor: pointer;
        position: relative;
        background-color: black;
    }
}

.menu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 16px;

    &__title {
        text-transform: uppercase;
        position: relative;
        padding-bottom: 8px;
        font-weight: normal;
    }

    &__title:after {
        display: block;
        content: "";
        border-bottom: 2px solid #99e2d0;
        width: 45px;
    }
}

.menuItem {
    background-color: white;
    padding: 16px;
    display: flex;
    border-radius: 12px;
    margin: 16px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    animation: itemOpacity 3s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    max-width: 100%;

   
   

    &__header {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
    }

    &__title {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__description {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__price {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 0.5rem;
    }

    &__accept {
        margin: -16px -80px -16px 16px;
        width: 64px;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.5s;
        background-color: #99e2d0;

        &__Icon {
            height: 25.6px;
            width: 25.6px;
            background-color: white;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius: 100px;
            transform: rotate(-180deg);
            transition-duration: 0.5s;
            color: #99e2d0;
            background-color: white;
            padding: 5px;
            border-radius: 20px;
            transition: transform 500ms ease-in-out;
            animation: rotate .6s;
            
        }

           &__validation {
            color: green;
            background-color: white;
            padding: 5px;
            border-radius: 20px;
           }

           &__icon {
            transform: rotate(180deg);
            transition: transform 500ms;
           }
 }



    &:hover &__accept {
        margin-right: -16px;
    }

    &:hover &__icon {
       transform: rotate(360deg);
       transition: transform 500ms;
    }

}

.menuAnimation {
    animation-delay: .1s;
    
}

.menuAnimation-1 {
    animation-delay: .2s;
  
}

.menuAnimation-2 {
    animation-delay: .3s;
}

.menuAnimation-3 {
    animation-delay: .4s;
}

.menuAnimation-4 {
    animation-delay: .5s;
}

.menuAnimation-5 {
    animation-delay: .6s;
}

.menuAnimation-6 {
    animation-delay: .8s;
}

.menuAnimation-7 {
    animation-delay: .9s;
}

.menuAnimation-8 {
    animation-delay: 1s;
}




.Btn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 48px 0;
}

.commandBtn {
    @include btnpink
}

.commandBtn:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
}

.card__footer {
    padding: 16px;
    display: flex;
    align-items: center;
    color: black;
    position: relative;

    &__content {
        flex: 1;
    }

    &__title {
        margin: 0 0 4px;
        text-decoration: none;
    }

    &__subtitle {
        margin: 0;
        list-style-type: none;
    }
    
    &__btn {
        color: black;
    }
}
